//variables
$font-basic:#333;

//default
* {
    font-size:16px;
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color:$font-basic;
}
.small {
    font-size:0.8em;
}
#pageup {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

//import
@import "clearfix.scss";

//background
@mixin bg-basic {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
html {
    @include bg-basic;
    body {
        @include bg-basic;
    }
    #container-wrapper {
        @include bg-basic;
        background-size: 200% 200%;
    }
}
#container {
    max-width:700px;
    margin:0 auto;
    padding:1em 1.5em;
}

//header
header {
    max-width:700px;
    margin:0 auto;
    padding:0;

    $font-color: #FAFAFA;
    @mixin header-link-default {
        color: $font-basic;
        text-decoration: none;
    }
    @mixin header-link-hover {
        color: $font-basic;
        text-decoration: underline;
    }

    h1 {
        display:block;
        float:left;
        width:25rem;
        margin:0;
        padding:0;

        a:link,
        a:visited {
            @include header-link-default;
            letter-spacing:-0.5px;
        }
        a:hover,
        a:active {
            @include header-link-hover;
        }
    }
    ul {
        float:right;
        margin:1.2rem 0 0 0;
        padding:0;
        list-style: none;

        li {
            display: inline-block;
            margin:0 0.5em;

            a:link,
            a:visited {
                @include header-link-default;
            }
            a:hover,
            a:active {
                @include header-link-hover;
            }
        }
    }
}
#avatar-1 {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin:0 1rem 0 0;
    padding:0;
    content: " ";
    font-size: 0;
    border: 5px solid #FAFAFA;
    border-radius: 20%;
    vertical-align: middle;
}

//section
section {
    max-width: 700px;
    margin: 0 auto;
    padding: 3.2em 0 0.5em 0;
    line-height: 1.8em;
}

//summary
#summary {
    padding-bottom: 1em;

    $summary-font: bold 1em/1.2 monospace;
    $summary-color: #483D8B;
    @mixin summary-link-default {
        color: $summary-color;
        text-decoration: none;
        font: $summary-font;
        letter-spacing:1px;
    }
    @mixin summary-link-hover {
        color: $summary-color;
        text-decoration: underline;
        font: $summary-font;
        letter-spacing:1px;
    }

    pre {
        a:link,
        a:visited {
            @include summary-link-default;
        }
        a:hover,
        a:active {
            @include summary-link-hover;
        }
    }
}

//projects
#projects {
    h2 {
        font-size: 2.4em;
        color: $font-basic;
        text-align: center;
    }

}

//contact
#contact {
    max-width:700px;
    margin:0 auto;
    padding:1em 0 0 0;

    h2 {
        margin:4em 0 1.2em 0;
        font-size: 2.4em;
        text-align: center;
    }
}

//footer
footer {
    max-width:700px;
    margin:1.8rem auto 3.6rem auto;
    padding:0;

    $footer-font: 0.9em/1.2 monospace;
    @mixin footer-link-default {
        color: $font-basic;
        text-decoration: none;
        font: $footer-font;
    }
    @mixin footer-link-hover {
        color: $font-basic;
        text-decoration: underline;
        font: $footer-font;
    }

    p {
        text-align:center;
        font: $footer-font;

        a:link,
        a:visited {
            @include footer-link-default;
        }
        a:hover,
        a:active {
            @include footer-link-hover;
        }
    }
}
