@charset "UTF-8";
* {
  font-size: 16px;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  color: #333;
  line-height: 1.6em; }

@media only screen and (min-width: 768px) {
  * {
    font-size: 18px;
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #333;
    line-height: 1.8em; } }
h2 {
  font-size: 1.4em; }

.small {
  font-size: 0.8em; }

#pageup {
  position: fixed;
  bottom: 40px;
  right: 20px;
  opacity: 0.5; }
  #pageup span {
    font-size: 32px;
    vertical-align: bottom; }
  #pageup:hover {
    opacity: 1; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
#content-wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em 1.5em; }

header {
  max-width: 700px;
  margin: 0 auto 1em auto;
  padding: 0; }
  header h1 {
    display: block;
    float: left;
    width: 25rem;
    margin: 0;
    padding: 0; }
    header h1 a:link,
    header h1 a:visited {
      color: #333;
      text-decoration: none; }
    header h1 a:hover,
    header h1 a:active {
      color: #333;
      text-decoration: underline; }
  header ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none; }
    header ul li {
      display: inline-block;
      margin: 0 0.5em;
      vertical-align: middle; }
      header ul li a:link,
      header ul li a:visited {
        color: #333;
        text-decoration: none; }
      header ul li a:hover,
      header ul li a:active {
        color: #333;
        text-decoration: underline; }
    header ul .mailto {
      margin: 0;
      font-size: 22px;
      vertical-align: middle; }

#avatar-1 {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 1rem 0 0;
  padding: 0;
  content: " ";
  font-size: 0;
  border: 3px solid #EFEFEF;
  border-radius: 20%;
  vertical-align: middle; }

section {
  max-width: 700px;
  margin: 1.2em auto 1.6em auto;
  padding: 0; }

#summary {
  padding-bottom: 1em; }
  #summary .name {
    font-weight: bold; }

#projects h2 {
  margin: 1em 0 0.5em 0;
  font-size: 1.4em;
  color: #333;
  text-align: center; }
#projects p {
  font-size: 0.8em; }

#contact {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em 0 0 0; }
  #contact h2 {
    margin: 4em 0 1.2em 0;
    font-size: 1.4em;
    color: #333;
    text-align: center; }
  #contact .mailto {
    margin: 0;
    font-size: 25px;
    vertical-align: middle; }
  #contact th {
    white-space: nowrap; }

footer {
  max-width: 700px;
  margin: 1.8rem auto 3.6rem auto;
  padding: 0; }
  footer p {
    text-align: center;
    font: 0.9em/1.2 monospace; }
    footer p a:link,
    footer p a:visited {
      color: #333;
      text-decoration: none;
      font: 0.9em/1.2 monospace; }
    footer p a:hover,
    footer p a:active {
      color: #333;
      text-decoration: underline;
      font: 0.9em/1.2 monospace; }

/*# sourceMappingURL=default.css.map */
